.expense-form {
  background-color: white;
  .form-container {
    background: white;
    padding: 1rem;
    position: relative;
    input, select {
      height: 5rem;
    }
  }
  .form-control-input-auto-complete {
    padding-bottom: 15rem;
  }
}