// animations
@include keyframes(container-rotate) {
  to {
    @include vendor-prefix(transform, rotate3d(0,0,1,360deg))
  }
}

@include keyframes(fill-unfill-rotate) {
  12.5% {
    @include vendor-prefix(transform, rotate3d(0,0,1,135deg))
  }
  25% {
    @include vendor-prefix(transform, rotate3d(0,0,1,270deg))
  }
  37.5% {
    @include vendor-prefix(transform, rotate3d(0,0,1,405deg))
  }
  50% {
    @include vendor-prefix(transform, rotate3d(0,0,1,540deg))
  }
  62.5% {
    @include vendor-prefix(transform, rotate3d(0,0,1,675deg))
  }
  75% {
    @include vendor-prefix(transform, rotate3d(0,0,1,810deg))
  }
  87.5% {
    @include vendor-prefix(transform, rotate3d(0,0,1,945deg))
  }
  to {
    @include vendor-prefix(transform, rotate3d(0,0,1,1080deg))
  }
}

@include keyframes(blue-fade-in-out) {
  0% {
    opacity:1
  }
  25% {
    opacity:1
  }
  26% {
    opacity:0
  }
  89% {
    opacity:0
  }
  90% {
    opacity:1
  }
  to {
    opacity:1
  }
}

@include keyframes(red-fade-in-out) {
  0% {
    opacity:0
  }
  15% {
    opacity:0
  }
  25% {
    opacity:1
  }
  50% {
    opacity:1
  }
  51% {
    opacity:0
  }
};

@include keyframes(yellow-fade-in-out) {
  0% {
    opacity:0
  }
  40% {
    opacity:0
  }
  50% {
    opacity:1
  }
  75% {
    opacity:1
  }
  76% {
    opacity:0
  }
};

@include keyframes(green-fade-in-out) {
  0% {
    opacity:0
  }
  65% {
    opacity:0
  }
  75% {
    opacity:1
  }
  90% {
    opacity:1
  }
  to {
    opacity:0
  }
};
@include keyframes(left-spin) {
  0% {
    @include vendor-prefix(transform, rotate3d(0,0,1,130deg))
  }
  50% {
    @include vendor-prefix(transform, rotate3d(0,0,1,-5deg))
  }
  to {
    @include vendor-prefix(transform, rotate3d(0,0,1,130deg))
  }
};

@include keyframes(right-spin) {
  0% {
    @include vendor-prefix(transform, rotate3d(0,0,1,-130deg))
  }
  50% {
    @include vendor-prefix(transform, rotate3d(0,0,1,5deg))
  }
  to {
    @include vendor-prefix(transform, rotate3d(0,0,1,-130deg))
  }
};

// styles
.loading-container {
  z-index: 10;
  &.overlay {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: .1rem;
  }
}
.round-container {
  left: 50%;
  position: absolute;
  &.medium {
    top: $loading-medium-size;
    width: $loading-medium-size;
    margin-left: -($loading-medium-size / 2);
    height: $loading-medium-size;
    .inner-round {
      border-width: $loading-medium-weight;
    }
  }
  &.large {
    top: $loading-large-size;
    width: $loading-large-size;
    margin-left: -($loading-large-size / 2);
    height: $loading-large-size;
    .inner-round {
      border-width: $loading-large-weight;
    }
  }
  @include animation('container-rotate 1568ms linear infinite');
}

.round-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  &.blue {
    border-color: #4285f4;
    @include animation("fill-unfill-rotate 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both",
            "blue-fade-in-out 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both");
  }

  &.red {
    border-color: #db4437;
    @include animation("fill-unfill-rotate 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both",
            "red-fade-in-out 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both");
  }

  &.yellow {
    border-color: #f4b400;
    @include animation("fill-unfill-rotate 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both",
            "yellow-fade-in-out 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both");
  }

  &.green {
    border-color: #0f9d58;
    @include animation("fill-unfill-rotate 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both",
            "green-fade-in-out 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both");
  }
}

.inner-section {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
  .inner-round {
    width: 200%;
  }
  &.right-section {
    .inner-round {
      left: -100%;
      border-left-color: transparent!important;
      @include vendor-prefix(transform, rotate3d(0,0,1,-129deg));
      @include animation("right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both");
    }
  }
  &.left-section {
    .inner-round {
      border-right-color: transparent!important;
      @include vendor-prefix(transform, rotate3d(0,0,1,129deg));
      @include animation("left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both");
    }
  }
}

.inner-round {
  @include vendor-prefix(box-sizing, border-box);
  height: 100%;
  border-style: solid;
  border-color: inherit;
  border-bottom-color: transparent !important;
  @include vendor-prefix(border-radius, 50%);
  @include animation(none);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.inner-axis {
  position: absolute;
  @include vendor-prefix(box-sizing, border-box);
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  overflow: hidden;
  border-color: inherit;
  .inner-round {
    width: 1000%;
    left: -450%;
  }
}