.container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: $header-height;
  .content-container {
    height: 100%;
    width: 100%;
    padding: 1rem 1rem ($header-height + 1rem) 1rem;
    position: absolute;
    overflow: auto;
    background: $container-background-color;
    -webkit-overflow-scrolling: touch;
  }
}
